.exercise {
  height: 9vh;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding: {
    left: 1rem;
    right: 1.5rem;
  }
  border-bottom: 1px solid #DFDFDF;
  background: #fff;
}

.exercise__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.exercise__name {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #2D2B3D;
  display: flex;
  flex: 1;
}

.exercise__index {
  color: #DFDFDF;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 1rem;
}

.exercise__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 2;
  width: 48px;

}

.exercise__button {
  width: 20px;
  height: 20px;
  border: none;
  font-size: 20px;
  background: none;
  cursor: pointer;
  svg *{
    fill: url("#rg");
  }
}

.exercise__timer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
}

.exercise__time {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #2D2B3D;
  width: 1rem;
}

.exercise__time--left {
  @extend .exercise__time;
  text-align: right;
  margin-left: 1px;
}

.exercise__time--right {
  @extend .exercise__time;
  margin-left: 1px;
}

.exercise__divide {
  height: 1.3rem;
}
