.exercise {
  height: 9vh;
  min-height: 60px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1.5rem;
  border-bottom: 1px solid #dfdfdf;
  background: #fff; }

.exercise__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; }

.exercise__index {
  color: #dfdfdf;
  font-size: 2rem;
  font-weight: 500;
  margin-right: 1rem; }

.exercise__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 2;
  width: 48px; }

.exercise__button {
  width: 20px;
  height: 20px;
  border: none;
  font-size: 20px;
  background: none;
  cursor: pointer; }
  .exercise__button svg * {
    fill: url("#rg"); }

.exercise__name {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  color: #2d2b3d;
  display: flex;
  flex: 1;
  width: 80%; }

.exercise__timer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  width: 80%; }

.exercise__time, .exercise__time--left, .exercise__time--right {
  background: none;
  border: none;
  font-size: 14px;
  font-weight: 500;
  color: #2d2b3d;
  width: 1rem; }
  .exercise__time::-webkit-inner-spin-button, .exercise__time--left::-webkit-inner-spin-button, .exercise__time--right::-webkit-inner-spin-button, .exercise__time::-webkit-outer-spin-button, .exercise__time--left::-webkit-outer-spin-button, .exercise__time--right::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0; }

.exercise__time--left {
  text-align: right;
  margin-left: 1px; }

.exercise__time--right {
  margin-left: 1px; }

.exercise__divide {
  height: 1.3rem; }
